* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #0A3871;
}

body {
    background: #F3F5FC;
    min-height: 100vh;
    padding: 0% 8%;
    
}

html, body {
    height: 100%;
    /* font-family: 'Inter', sans-serif; */
}

.header h1{
    padding: 5px;
    font-size: calc(2vw + 1rem);
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    height: calc(100vh - 100px);
}

.section-container {
    flex: 1;
    margin: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.information {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.text {
    border-radius: 10px;
    border: none;
    outline-color: #0A3871; 
    padding: 10px;
    font-size: 16px;
    resize: none;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    flex: 1;
    min-height: calc(55vh - 10px);
}

.note-container {
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin: 20px 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.button{
    width: 35%;
    height: 2.5rem;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: calc(1rem + 0.5vw);
    color: #0a3871;
    cursor: pointer;
}

.button:hover {
    background: #0a3871;
    color: #d8dfe8;
}

/* LADO RESULTADO */
.result-container {
    flex: 0.6;
    margin: 20px;
}

.not-result {
    padding: 20px; 
    display: flex;
    flex-direction: column;
    height: 100%; 
    max-height: calc(100vh - 200px);
    background: white;
    border-radius: 10px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.not-result img{
    height: auto; 
    max-height: 100%; 
    width: auto; 
    max-width: 100%; 
    margin-top: 30px;
    display: block; 
}

.message {
    font-size: 20px;
    color: #0A3871;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
} 

.result {
    align-items: center;
    gap: 10px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    background: white;
    border-radius: 10px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    display: none;
}

.result-title {
    font-size: calc(2vw + 0.3rem);
    font-weight: bold;
    text-align: center;
}

.result-text {
    height: 80%;
    border: none;
    outline: none;
    outline-offset: 2px;
    font-size: 16px;
    resize: none;
    margin-top: 10px;
    display: block; 
    width: 100%;
} 

.copy-button {
    margin: 0 auto; 
    display: block; 
    background-color: white;
    width: 70%;
}

.loadingScreen {
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: none;
}

.loader {
    width: 5.4em;
    height: 5.4em;
    border: 0.3em solid rgb(255, 255, 255);
    border-left-color: #0A3871;
    border-radius: 100%;
    animation: spin 0.5s linear infinite;
    position: fixed;
    top: 288px;
    right: 286px; 
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.footer h3{
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .section-container, .result-container {
        margin: 20px 0;
        width: 100%;
    }

    .button {
        width: 50%;
        font-family: 'Inter';
    }

    .not-result img {
        display: none;
    }
    
    .text {
        min-height: calc(30vh - 10px);
        
    }

    .result {
        height: calc(30vh - 10px);
    }
    .result-text {
        height: 70%;
    }
    
    .loader {
        top: 25%;
        right: 40%; 
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: calc(4vw + 1rem);
    }

    .information, .message, .result-title {
        font-size: 18px;
    }

    .button {
        font-family: 'Inter';
        width: 60%;
        font-size: calc(2vw + 0.8rem);
    }

    .button-container {
        gap: 10px;
    }

    .not-result img {
        display: none;
    }

    .text {
        min-height: calc(20vh - 10px);
        
    }

    .result {
        height: calc(30vh - 10px);
    }
    .result-text {
        height: 70%;
    }

    .loader {
        top: 25%;
        right: 40%; 
    }
}